body{
    background-color: rgb(243, 202, 127);
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 60px;
    line-height: 0.7;
    color: brown;
    margin: 0;
}

.action{
    display:flex;
    justify-content:space-between;
    margin:5px;
    
}

#redo{
    background-color:brown;
    margin:0%;
    border:0cap;
    color: beige;
    border-radius: 2px;
}

h2,p{
    margin: 0%;
}
.container{
    width: 468px;
    margin-top: 30px;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: burlywood;
    border: 7px solid;
    border-color:  burlywood;
}

.grid div{
    line-height: 1.6;
    text-align: center;
    font-size: 60px;
    color: burlywood;
    background-color:bisque;
    margin:7px;
    width: 100px;
    height: 100px;

}
.score-container{
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: bisque;
    color:brown;
}

#score{
    font-size:18px;
}